<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <filter>
        <filter-name>New_Account_Filter</filter-name>
        <filter-class>New_Account_Filter</filter-class>
    </filter>
    <filter>
        <filter-name>Cash_Filter</filter-name>
        <filter-class>Cash_Filter</filter-class>
    </filter>
    <filter>
        <filter-name>Deposit_Filter</filter-name>
        <filter-class>Deposit_Filter</filter-class>
    </filter>
    <filter>
        <filter-name>Client_Message_Filter</filter-name>
        <filter-class>Client_Message_Filter</filter-class>
    </filter>
    <filter>
        <filter-name>New_Atm_User_Filter</filter-name>
        <filter-class>New_Atm_User_Filter</filter-class>
    </filter>
    <filter>
        <filter-name>Fixed_deposit_request_01_Filter</filter-name>
        <filter-class>Fixed_deposit_request_01_Filter</filter-class>
    </filter>
    <filter>
        <filter-name>Money_Transfer_01_Filter</filter-name>
        <filter-class>Money_Transfer_01_Filter</filter-class>
    </filter>
    <filter>
        <filter-name>Fixed_Deposit_01_Filter</filter-name>
        <filter-class>Fixed_Deposit_01_Filter</filter-class>
    </filter>
    <filter>
        <filter-name>Change_Password_01_Filter</filter-name>
        <filter-class>Change_Password_01_Filter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Change_Password_01_Filter</filter-name>
        <url-pattern>/Change_Password_01.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Fixed_Deposit_01_Filter</filter-name>
        <url-pattern>/Fixed_Deposit_01.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Money_Transfer_01_Filter</filter-name>
        <url-pattern>/Money_Transfer_01.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Fixed_deposit_request_01_Filter</filter-name>
        <url-pattern>/Fixed_deposit_request_01.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>New_Atm_User_Filter</filter-name>
        <url-pattern>/New_Atm_User.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Client_Message_Filter</filter-name>
        <url-pattern>/Client_message.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Deposit_Filter</filter-name>
        <url-pattern>/Deposit.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Cash_Filter</filter-name>
        <url-pattern>/cash.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>New_Account_Filter</filter-name>
        <url-pattern>/NewAccount.jsp</url-pattern>
    </filter-mapping>
    <session-config>
        <session-timeout>
            5
        </session-timeout>
    </session-config>
</web-app>
